@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
.flex-container {
  padding: 68px 80px 5px 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .welcome{
    font-family: 'Nunito', sans-serif;
    opacity: 0.8;
    text-align: center;
    padding: 15px 0px 6px 0px;
  }
  .welcome-text{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    opacity: 0.6;
    padding: 0px 0px 20px 0px;
  }

  .column-div {
    flex-basis: 31.5%;
    text-align: center;
    min-width: 350px;
    .home-amenities {
      font-family: 'Nunito', sans-serif;
      opacity: 0.6;
    }
    .icon-image {
      height: 75px;
      opacity: 0.6;
      padding: 0px 0px 5px 0px;
    }
  }

}
#icon8-ref{
  font-size: 10px;
}

@media only screen and (max-width: 872px) {
  .flex-container {
    width: 100%;
    justify-content: center;
  }
  .column-div {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}
