@import url("https://fonts.googleapis.com/css?family=Domine:400,700");

.headerContainer {
  background-color: rgba(0,119,210,0.4);
  margin: 0 auto;
}

.textContainer {
  background-color: rgba(0,119,210,0.3);
  margin: 0 auto;
}

.header {
  font-family: 'Domine', Serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.text {
  font-family: 'Domine', Serif;
  text-align: center;
  margin: 0 auto;
}

.amenitiesHeading {
  font-family: 'Domine', Serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}
.amenitiesList {
  font-family: 'Domine', Serif;
  font-weight: 700;
  font-size: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.amenity {
  flex-basis: 31.5%;
  text-align: center;
  list-style: none;
  margin-top: 15px;
}

@media only screen and (max-width: 750px) {
  .amenity {
    flex-basis: 40%
  }
}

@media only screen and (max-width: 550px) {
  .amenity {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
}
