@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');

.bg-img {
  min-height: 450px;
  min-width: 860px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  top: 0px;
  right: 5px;
  width: auto;
  height: auto;
}

.topnav {
  overflow: hidden;
  li {
    font-family: 'Nunito', sans-serif;
    float: left;
    color: blue;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    font-weight: 600;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
  }

#book-button {
  background-color:  green;
  color: black;
  &:hover {
    background-color: orange;
    color: blue;
  }
}
