@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
$topMargin: 40px;
$headerOpacity: 0.6;
$contentOpacity: 0.70;
.contactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.phoneContainer {
  margin-top: $topMargin;
}

.addressContainer {
  margin-top: $topMargin;
  font-family: 'Domine', Serif;
  .address {
    font-weight: 400px;
    color: rgba(102, 102, 102,0.75);
  }
}

.contactHeader {
  font-family: 'Domine', Serif;
  font-weight: 700;
  color: black;
  opacity: $headerOpacity;
}
.phoneNumber {
  font-family: 'Domine', Serif;
  font-weight: 400;
  color: rgba(102, 102, 102,0.75);
  font-size: 1.9rem;
  .phoneNumberLink {
    color: rgba(102, 102, 102,0.75);
  }
}

.contactTimes {
  font-family: 'Domine', Serif;
  font-weight: 400;
  color: rgba(102, 102, 102,0.75);
}

.emailContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: $topMargin;
  .contactEmail {
    font-family: 'Domine', Serif;
    font-weight: 700;
    font-size: 2.2rem;
    padding: 0px 0px 20px 0px;
    .contactEmailLink{
      color: black;
      opacity: $headerOpacity;
    }
  }
}